body {
    background-color: rgb(240,241,243);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 79px;
    font-weight: bold;
    font-size: 26px;
    color:rgb(29,38,85)
    
}

.icons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 59px;
    margin-top: 20px;
    color:rgb(42, 54, 116);  
}

i {
    position: absolute;
    font-size: 35px;
    padding-bottom: 35px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 90px; 
    color:rgb(29,38,85);
    padding-bottom: 20px;
}
.icons>div {
    background-color: white;
    position: relative;
    border-radius: 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    height: 115px;
    margin: 10px 5px 10px 15px;

}


 
 @media screen and (min-width: 425px){ 
    .i {
        margin-top: 1px;
        /* font-size: 20px; */
    }
    .icons>div {
        width: 69px;
        height: 69px;
    }
    p {
        font-size: 10px;
        margin-top: 10px;
    } 
   
 }
 @media screen and (min-width: 480px){ 
    .i {
        margin-top: 1px;
    }
    .icons>div {
        width: 70px;
        height: 130px;
    }
    p {
        font-size: 12px;
        margin-top: 10px;
    } 
   
 }
 @media screen and (min-width: 600px){ 
    .i {
        margin-top: 1px;
    }
    .icons>div {
        width: 80px;
        height: 130px;
    }
    p {
        font-size: 14px;
        margin-top: 10px;
    } 
   
 }
 @media screen and (min-width: 1440px){ 
    .i {
        margin-top: 1px;
    }
    .icons>div {
        width: 130px;
        height: 130px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    } 
   
 }
